# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ipch
*.ncb
*.sdf
*.suo
*.user
*.opensdf

# Mac 
MyStrategy.xcodeproj
MyStrategy.xcworkspace
build
obj

*.xcworkspace
xuserdata
*.xcuserdatad

*.class

Debug
Release

/draw.txt
/log.txt
/local-runner/game.log
/local-runner/result.txt
